################################################################################
# TON validator / node systemd service with integrated log rotation
#
# This systemd script can be used to control full node / validator, it is based on mytonctrl
# it is based on service created by mytonctrl (https://github.com/ton-blockchain/mytonctrl)
#
# Logs from stdout and sterr will be cleansed from color codes and piped into cronolog for
# storage and rotation.
#
# Requirements:
#   * Installed TON Node
#   * Cronolog (apt install cronolog)
#
# Installation:
#   Edit line in ExecStart to match your environment, make sure you set appropriate values for placeholders
#   ##THREADS_PL##: Number of threads
#   ##VERBOSITY_PL##: Verbosity
#   ##RET_PL##: Put retention flags here, a node with 3 month retention will have for example: --state-ttl 7776000 --archive-ttl 7776000 --block-ttl 7776000
#   ##SESSION_LOGS_PL##: Specify location for session logs, only applies to actual validators
#
#   Create global config directory /var/ton-work/etc and copy network global config there:  curl -o /var/ton-work/etc/global.config.json https://raw.githubusercontent.com/ton-blockchain/ton-blockchain.github.io/main/global.config.json
#   Create log directory /var/ton-work/logs which should be writable by user that runs service (validator by default).
#
#   By default log file names will have YYYY-MM-DD.log format and rotated daily, you can adjust format
#   to your liking using cronolog placeholders (man cronolog), just make sure to escape the escape
#   character % by typing it twice, otherwise systemd will complain. For example: %%Y-%%m-%%d.log as
#   seen in the default definition.
#
# Caveats:
#   Please note that this script wraps validator-endine execution in it's own shell which might affect
#   some monitoring scripts.
#
[Unit]
Description = validator service with log rotation
After = network.target

[Service]
Type = simple
Restart = always
RestartSec = 30
ExecStart=/bin/sh -c '/usr/bin/ton/validator-engine/validator-engine --threads ##THREADS_PL## --daemonize --global-config /var/ton-work/etc/global.config.json --db /var/ton-work/db/ ##RET_PL## ##SESSION_LOGS_PL## --verbosity ##VERBOSITY_PL## 2>&1 | /usr/bin/sed -u -e "s/\x1b\[[0-9;]*m//g" | /usr/bin/cronolog /var/ton-work/logs/%%Y-%%m-%%d.log'
ExecStopPost = /bin/echo service down
User = validator
Group = validator
LimitNOFILE = infinity
LimitNPROC = infinity
LimitMEMLOCK = infinity

[Install]
WantedBy = multi-user.target